<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="https://algernui.netlify.app/components/main.css" />

    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/question-page.css">

    <title>Algern Quiz</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <a href="/">
                <h2 class="logo">Algern Quiz</h2>
            </a>
            <a href="#">
                <i class='bx bxs-user icon'></i>
            </a>
        </nav>
    </header>

    <main>
        <section class="question-container">
            <img class="responsive-image question-img" src="../assets/holding-al-pacino-best-and-worst-film-moments.jpg"
                alt="al pacino">
            <article class="options-container">
                <h2 class="margin-0">Who is this actor?</h2>
                <div class="options">
                    <a class="option" href="./result-page.html">Al Pacino</a>
                    <a class="option" href="#">Al Pacino</a>
                    <a class="option" href="#">Al Pacino</a>
                    <a class="option" href="#">Al Pacino</a>

                </div>
            </article>
        </section>
    </main>
</body>

</html>