body {
  height: 100vh;
}

.header {
  background: var(--primary-color);
}

.rules-container {
  margin:2rem auto;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rules {
  border: 2px solid var(--primary-color);
  width: 40vw;
  padding: 1rem;
}

@media(max-width:800px){
    .rules{
        width: 80vw;
    }
}

.list-rules {
  margin: 10px 0;
  font-size: 1.2rem;
}

.list-rules li{
    list-style-type: disc;
    margin: 0 1rem;
}

.btn-primary-solid {
  background: var(--primary-color);
  color: var(--font-color-dark);
}

.btn-primary-solid:hover {
  background: var(--primary-color-a5);
}

.btn-primary-solid:active {
  background: var(--primary-color);
}
